* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* the background image*/
.backgroundpic{
    
  width: 100%;
  height: 400px;
  background-image: url("../images/bamyan1.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

    
}
a{
    color: black;
}

/* special events */
.eventbox{
    border: 1 solid;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width: 50%;
    height: 150px;
    background-color: green;
}

.buzkashee{
    border: 1 solid;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url("../images/buzkashee.jpg");
    background-size: cover;
}
.btext{
    border: 1 solid;
    margin-left: 10px;
    margin-top: 5px;
    color: black;

    float: left;
    width: 160px;
    height: 100px;
    background-color: lightgray;
}
/* social menu here */
div.content{
    height: 150px;
    width: 150px;
    float: left;
    margin: 20px;
}
div#fb{
     background-image: url("../images/fb.jpg");
     background-size: 100% 100%;
     background-repeat: no-repeat;
     border-radius: 100%;
     
}
div#twitter{
     background-image: url("../images/twitr.jpg");
     background-size: 100% 100%;
     background-repeat: no-repeat;
     border-radius: 100%;
}
div#email{
     background-image: url("../images/email.png");
     background-size: 100% 100%;
     background-repeat: no-repeat;
     border-radius: 100%;
}

.h2{
    text-anchor: middle;
}
.sub{
    margin-left: 45px;
   size: 35px;

}


/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (min-width:768px){
	.partners .col-sm-2, .hp_partners .col-md-2{ 
    	width:100%;
	}
}

/* Style the header */


